.author
  img.author__thumb(src="/assets/images/dummy_thumb_author.png")
  .author__content
    h2.author__title この記事を書いた人:
      span.author__title--name Author Name
    ul.author__sns
      li
        a(href="", class="")
          img(src="/assets/images/btn_tw.svg")
      li
        a(href="", class="")
          img(src="/assets/images/btn_fb.svg")
      li
        a(href="", class="")
          img(src="/assets/images/btn_gPlus.svg")
      li
        a(href="", class="")
          img(src="/assets/images/btn_gh.svg")
    p.author__description ここに自己紹介文が入ります。これは先刻どうしてもこんな意味心って事のためにありたです。ここに自己紹介を入れます。そうにはしででですです。義務に送っませのはいったい将来がもうですたらう。
    hr.author__separator
    h3.author__subTitle 最近書いた記事
    ul.article
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
    +link('', 'Author が書いた記事一覧')(class="author__textLink")
