aside.widget
  .recommend
    h2.recommend__title この記事を読んだ人におすすめの記事
    ul.article
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
      li.article__item
        a.article__link(href="")
          .article__left
            img(src="/assets/images/dummy_thumb_post.png")
          .article__right
            time 2014.10.26
            span.catLabel.catLabel--wordpress Category
            p WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
