.snsShare
  ul.snsShare__list
    li.snsShare__item.snsShare__item--fb
      a.snsShare__counter(href='')#fb-count
      a(href='https://www.facebook.com/sharer/sharer.php?u=').snsShare__icon.snsShare__icon--fb f
    li.snsShare__item.snsShare__item--ha
      a.snsShare__counter(href='')#hatebu-count
      a.snsShare__icon.snsShare__icon--ha(href='http://b.hatena.ne.jp/entry/') B!
    li.snsShare__item.snsShare__item--tw
      a.snsShare__counter(href='')#tweet-count
      a.snsShare__icon.snsShare__icon--tw(href='https://twitter.com/share?') t
    li.snsShare__item.snsShare__item--po
      a.pocket-btn(href='https://getpocket.com/save', data-lang='ja', data-pocket-count='none', data-pocket-label='pocket')

