footer.l-footer
    .l-footer__banner: a(href="#", target="_blank"):img(src="/assets/images/page/common/banner.png", alt="banner")
    .fb-area
        .fb-area__inner Facebook Area
    .footer-bot
        .footer-bot__inner
            .footer-bot__logo: img(src="/assets/images/page/common/logo_exp.svg", alt="exp")
            ul.footer-bot__list
                li.footer-bot__item: a(href="https://twitter.com/WPE34", target="_blank"): img(src="/assets/images/page/common/icon_tw.svg", alt="exp twitter")
                li.footer-bot__item: a(href="https://www.facebook.com/wpe.org", target="_blank"): img(src="/assets/images/page/common/icon_fb.svg", alt="exp facebook")
                li.footer-bot__item: a(href="https://github.com/featherplain/exp", target="_blank"): img(src="/assets/images/page/common/icon_gh.svg", alt="exp github")
