header.l-header
  .l-header__inner
    h1.siteLogo: img(src="/assets/images/page/common/icon_exp.svg", alt="exp")
    nav.globalNav
      ul.globalNav__list
        - var items = {about: 'About', category: 'Category', member: 'Memer'}
        for val, key in items
          li(class="globalNav__item globalNav__item--#{key}"): +link('',val)
