@charset "utf-8";

// font-family
$fontFamily        : "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "游ゴシック体", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", "Verdana", "sans-serif";
$fontCode          : Menlo, Monaco, Consolas, Courier New, monospace, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐ ゴシック","MS PGothic", sans-serif;

// Colum Base Width
$maxWidth          : 940px;

// Base margin
$margin            : 80px;

// Basic Colors
$colorBlue         : #4ABBC1;
$colorPink         : #C8569A;
$colorYellow       : #DCAE20;
$colorGreen        : #7DB347;
$colorBg           : #F2F2F2;
// Text Colors
$colorText         : #333333;
$colorSubText      : #999999;
$colorTitle        : #333333;
$colorLink         : darken($colorBlue, 12%);
$colorLinkHover    : lighten($colorBlue, 9%);
$colorSelection    : #accef7;
// Category Colors
$colorCatBlog      : #888;
// SNS color
$colorTw           : #55acee;
$colorTwHover      : lighten($colorTw, 8%);
$colorFb           : #3B5998;
$colorFbHover      : lighten($colorFb, 8%);
$colorPo           : #f03e56;
$colorPoHover      : lighten($colorPo, 8%);
$colorHa           : #0071C5;
$colorHaHover      : lighten($colorHa, 8%);
$colorGh           : #181616;
$colorGhHover      : lighten($colorGh, 20%);
