@charset 'utf-8';

.l-footer {
    &__banner {
        text-align: center;
        padding-bottom: 20px;
        @include grid-row;
    }
}

.fb-area {
    background-color: #FFF;
    &__inner {
        height: 210px;
        @include grid-row;
        //あとで消す
        text-align: center;
        padding-top: 80px;
    }
}

.footer-bot {
    background-color: #333;
    &__inner{
        @include grid-row;
        text-align: center;
        padding-top: 100px;
    }
    &__logo {
         margin-bottom: 38px;
    }
    &__list {
        margin-bottom: 60px;
    }
    &__item {
        &:first-child {
            margin-left: 0px;
        }
        display: inline;
        margin-left: 15px;
    }
}