@charset "utf-8";
/* l-header
---------------------------------------- */
.l-header {
  background-image: url('../../assets/images/page/common/img_colorbar.png');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 100% 6px;
  background-color: #fff;
  padding-top: 6px;
  &__inner {
    @include grid-row;
  }
}

/* siteLogo
---------------------------------------- */
.siteLogo {
  margin-top: 24px;
  margin-bottom: 22px;
  float: left;
  width: 68px;
  a {
    display: block;
    vertical-align: middle;
  }
}
.siteLogoSP {
  height: 48px;
  line-height: 48px;
  text-align: center;
  a {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
}

/* globalNav
---------------------------------------- */
.globalNav {
  float: right;
  &__list {
    @extend %group;
    list-style: none;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 114px;
     > li {
      float: left;
      margin-left: 1.5em;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        .globalNav__subList {
          display: block;
        }
      }
      a {
        color: $colorText;
      }
    }
  }
  &__subList {
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0, .125);
    display: none;
    list-style: none;
    margin: 0;
    position: absolute;
    padding: rem-calc(5 0);
    top: auto;
    left: 0;
    li {
      a {
        display: block;
        padding: rem-calc(8 20);
        white-space: nowrap;
        &:hover {
          background-color: darken(#fff, 8%);
        }
      }
    }
  }
}
.globalNavSp {}

.tab-bar .menu-icon--globalSp span::after { top: 57%; }
