@charset "utf-8";
/* pageTitle
---------------------------------------- */
.pageTitle {
  font-size: rem-calc(20);
  letter-spacing: .08em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  &__num {
    font-size: rem-calc(14);
    font-weight: normal;
    margin-left: 1em;
  }
  &__total {
    font-size: rem-calc(10);
    font-weight: normal;
  }
  @media #{$medium-up} {
    font-size: rem-calc(40);
    &__num {
      font-size: rem-calc(22);
    }
    &__total {
      font-size: rem-calc(16);
    }
  }
}

/* postArchive
---------------------------------------- */
%postArchiveRight {
  margin-left: 140px;
  @media #{$medium-up} {
    margin-left: 190px;
  }
}
.postArchive {
  @extend %group;
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  &__imgWrap {
    position: relative;
    float: left;
    margin-right: 20px;
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__meta{
    @extend %postArchiveRight;
    color: $colorText;
    font-size: rem-calc(18);
    margin-bottom: 10px;
    time {
      margin-right: .8em;
    }
    img {
      margin-right: .8em;
      width: 26px;
      height: 26px;
    }
  }
  &__title {
    @extend %postArchiveRight;
    font-size: rem-calc(16);
    letter-spacing: .08em;
  }
  @media #{$medium-up} {
    &__imgWrap {
      img {
        width: 170px;
        height: 170px;
      }
    }
    &__meta {
      margin-bottom: 20px;
    }
    &__title {
      font-size: rem-calc(24);
      font-weight: bold;
    }
  }
}

/* post
---------------------------------------- */
.post {
  background-color: #fff;
}

/* post
---------------------------------------- */
.post {}
