@charset "utf-8";
/* post
---------------------------------------- */
.catLabel {
  @include label(
    $padding: rem-calc(6 20),
    $bg: $colorText
  );
  &--blog {
    @include label(
      $padding: rem-calc(6 20),
      $bg: $colorCatBlog
    );
  }
  &--wordpress {
    @include label();
  }
  &--authors {
    @include label(
      $padding: rem-calc(3 10),
      $text-size: rem-calc(9),
      $bg: $colorBg
    );
    color: lighten($colorText, 20%);
  }
}
