@charset "utf-8";
/* author
---------------------------------------- */
.post__content {
  #padSection {
    padding: 0 !important;
    border: none !important;
    #profileTxtSet {
      > dd {
        line-height: 1.6;
      }
    }
    @media #{$medium-up} {
      padding: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

