@charset "utf-8";
/* sns share
---------------------------------------- */
.snsShare {
  @extend %group;
  background-color: #ffffff;
  padding: 20px;
  &__title {
    font-size: rem-calc(18);
    font-weight: bold;
  }
  &__list {
    margin: 0 20px;
    margin-top: 20px;
  }
  &__item {
    float: left;
    list-style-type: none;
  }
}
@media #{$medium-up}{
  .snsShare {
    padding: 40px $margin;
    &__title {
      font-size: rem-calc(20);
    }
    &__list {
      margin: 0;
    }
    &__item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

