@charset "utf-8";
/* sns share
---------------------------------------- */
.snsShare {
  background-color: #ffffff;
  padding: 20px;
  @media #{$medium-up} {
    padding: 40px 80px;
  }
  &__title {
    font-size: rem-calc(18);
    font-weight: bold;
  }
  &__list {
    display: flex;
    margin: 0;
  }
  &__item {
    @extend %group;
    flex: 1;
    list-style-type: none;
  }
}
/**
 * share button
 */
.btnShare {
  display: block;
  padding: 6px;
  height: 60px;
  color: #fff;
  transition: .25s;
  text-align: center;
  &:hover {
    color: #fff;
    box-shadow: 0px 2px 1px rgba(0,0,0,.3);
  }
  &:visited,
  &:active {
    color: #fff;
  }
  svg {
    vertical-align: middle;
  }
  &__text {
    margin-left: 4px;
    font-size: rem-calc(14);
    letter-spacing: 0.8px;
    line-height: 1.1;
    @media #{$small-only} {
      display: none;
    }
  }
  &--fb {
    background-color: $colorFb;
    &:hover {
      background-color: $colorFbHover;
    }
  }
  &--ha {
    background-color: $colorHa;
    &:hover {
      background-color: $colorHaHover;
    }
  }
  &--tw {
    padding: 18px 0 24px 0;
    background-color: $colorTw;
    &:hover {
      background-color: $colorTwHover;
    }
  }
  &--po {
    padding: 20px 0 24px 0;
    background-color: $colorPo;
    > .pocket-btn {
      text-align: center;
    }
  }
}
/**
 * counnt
 */
.count {
  display: block;
  padding: 2px 0;
  color: $colorText;
  background-color: #fff;
  border-radius: 2px;
  font-size: rem-calc(14);
}
