include inc/core/_config
extends inc/core/_base
block title
  - var title = ''
  title= title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'archive'
block append meta
block body
  div.off-canvas-wrap(data-offcanvas)
    div.l-container.inner-wrap
      include inc/layout/_l-header-sp

      section
        div.l-row
          h2.pageTitle ブログ記事一覧
            span.pageTitle__num 1-10件
            span.pageTitle__total (全20件)
        div.l-row
          #main.l-main
            //- - for (var i = 0; i < 10; i++)
              article.postArchive: a(href="")
                div.postArchive__imgWrap
                  img(src="/src/images/page/postArchive/img_thumbSample01.png", alt="")
                  span.postArchive__label.catLabel.catLabel--blog Category
                div.postArchive__meta
                  time 2014.10.26
                  img(src="/src/images/page/postArchive/icon_authorSample01.png", alt="")
                  span Jhon Smith
                h3.postArchive__title WordPressはメンテナンスが大事！改ざんされたサイトを復旧させるまでの道のり
              //- /.postArchive

    include inc/layout/_l-footer
block append scriptFooter
